@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 38% 98%;
    --foreground: 150 22% 15%;

    --forked-background: 42 45% 95%;
    --forked-neutral: 42 52% 97%;
    
    --card: 42 40% 99%;
    --card-foreground: 150 22% 15%;

    --popover: 42 40% 99%;
    --popover-foreground: 150 22% 15%;

    --primary: 149 31% 25%;
    --primary-foreground: 42 40% 99%;

    --forked-primary: 149 31% 25%;

    --secondary: 145 18% 92%;
    --secondary-foreground: 150 22% 15%;

    --forked-secondary-foreground: 150 11% 34%;

    --muted: 42 24% 93%;
    --muted-foreground: 150 8% 39%;

    --accent: 145 18% 92%;
    --accent-foreground: 150 22% 15%;

    --forked-accent: 18 64% 48%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 42 18% 84%;
    --input: 42 18% 84%;
    --ring: 149 31% 25%;

    --font-sans: "DM Sans";
    --font-display: "DM Serif Display";

    --radius: 0.5rem;
  }

  .dark {
    --background: 150 18% 11%;
    --foreground: 42 40% 96%;

    --card: 150 16% 14%;
    --card-foreground: 42 40% 96%;

    --popover: 150 16% 14%;
    --popover-foreground: 42 40% 96%;

    --primary: 42 40% 96%;
    --primary-foreground: 149 31% 21%;

    --secondary: 150 12% 21%;
    --secondary-foreground: 42 40% 96%;

    --muted: 150 12% 21%;
    --muted-foreground: 42 14% 72%;

    --accent: 150 12% 21%;
    --accent-foreground: 42 40% 96%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 42 40% 96%;

    --border: 150 12% 24%;
    --input: 150 12% 24%;
    --ring: 42 40% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  h1,
  h2 {
    @apply font-display;
  }
}

/* Remove number input spinner (arrows) in all browsers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input spinner (arrows) in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
